<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Tekst / Labels van de knoppen-->
    <add key="FirstButtonLabel" value="Knop 1" />
    <add key="SecondButtonLabel" value="Knop 2" />
    <add key="ThirdButtonLabel" value="Knop 3" />

    <!--Wat voor file er uitgevoerd moet worden (deze moeten in de map /Files staan)-->
    <add key="FirstButton" value="airco.mp3" />
    <add key="SecondButton" value="airco.mp3" />
    <add key="ThirdButton" value="airco.mp3" />
  </appSettings>
</configuration>